body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdcaad;

    .chronometer {
        display: flex;
        flex-direction: column;

        #display {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 650px;
            height: 200px;
            font-size: 110px;
            color: #344955;
            border-radius:10px ;
        ;
        }

        .buttons {
            margin-top: 50PX;
            display: flex;
            justify-content: space-between;

            button {
                width: 180px;
                height: 70px;
                border: none;
                border-radius: 10px;
                font-size: 22px;
                color: white;
                background-color: #344955;
                cursor: pointer;

            }
        }

    }
}