body {
    margin: 0;
    box-sizing: border-box;
    background-color: #121212;
    padding: 0 30px;
    font-family: "Noto Sans CJK HK", SansSerif;
    --mainColor: #fa6f02;
    --textColor: #848484;

    header {
        position: fixed;
        width: 100%;
        /*border: 1px solid white;*/
        top: 0;
        left: 0;
        height: 70px;
        /*margin-top: 15px;*/
        color: var(--textColor);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        /*padding-right: 80px;*/

        img {
            height: 70px;
        }

        ul {
            display: flex;
            list-style: none;
            flex-grow: 1;
            justify-content: center;

            li {
                font-size: 18px;

                &:not(:last-child) {
                    margin-right: 80px;
                }

                /*&:hover {*/
                /*    color: var(--mainColor);*/
                /*}*/

                .orange {
                    color: var(--mainColor);

                }
            }
        }
    }

    main {

        #home {
            display: flex;
            align-items: center;
            margin: 30px 150px 0 150px;
            justify-content: space-between;

            .personal-information {

                h5 {
                    color: var(--textColor);
                }

                h3 {
                    color: var(--textColor);
                    margin: 15px 0 30px 0;
                }

                h1 {
                    color: var(--mainColor);
                    font-size: 40px;
                }

                .socials {
                    display: flex;
                    align-items: center;
                    margin: 30px 0;

                    .social {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: rgb(255, 255, 255, .1);
                        border: 1px solid #626262;

                        &:not(:last-child) {
                            margin-right: 10px;
                        }

                        .icons {
                            width: 20px;
                            height: 20px;
                            fill: var(--textColor);
                        }
                    }
                }

                .buttons {
                    margin-bottom: 60px;

                    a {
                        .cv {
                            background-color: transparent;
                            color: var(--textColor);
                            border-radius: 5px;
                            border: 1px solid var(--textColor);
                            height: 35px;
                            width: 170px;
                            cursor: pointer;
                        }
                    }
                }

                .details {
                    display: flex;
                    align-items: center;
                    height: 70px;
                    background-color: #1b1b1b;
                    border-radius: 5px;

                    .detail {
                        display: flex;
                        height: 45px;
                        width: 105px;
                        flex-direction: column;
                        padding: 0 15px;

                        &:not(:last-child) {
                            border-right: 2px solid var(--textColor);
                            /*margin-right: 15px;*/
                        }

                        .value {
                            margin-bottom: 10px;
                            color: var(--mainColor);
                            font-weight: bold;
                        }

                        .detail-name {
                            color: white;
                        }
                    }
                }
            }

            img {
                width: 700px;
                height: 800px;
            }
        }

        #services {
            display: flex;
            flex-direction: column;

            .options {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 40px;
                margin-top: 50px;

                .option {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 30px 40px;
                    border-radius: 10px;
                    background-color: #1b1b1b;


                    svg {
                        width: 45px;
                        height: 45px;
                        fill: var(--mainColor);

                    }

                    h3 {
                        color: var(--mainColor);
                        margin: 15px 0;
                    }

                    p {
                        font-size: 12px;
                        color: var(--textColor);
                        line-height: 20px;
                    }
                }
            }
        }

        .about-me {
            display: flex;
            flex-direction: column;
            margin-top: 150px;

            .description {
                margin-top: 50px;
                display: flex;
                align-items: center;


                .my-image {
                    margin-right: 100px;
                }

                .bio {

                    p {
                        font-size: 18px;
                        width: 90%;
                        line-height: 40px;
                        color: var(--textColor);
                        letter-spacing: 1px;
                        margin-bottom: 40px;
                    }

                    button {
                        background-color: var(--mainColor);
                        width: 200px;
                        height: 50px;
                        color: white;
                        border: none;
                        font-size: 16px;
                        border-radius: 5px;
                    }

                }
            }
        }

        #circles {
            display: flex;
            justify-content: space-evenly;
            margin-top: 80px;

            .circle {
                /*border: 1px solid white;*/
                width: 180px;
                display: flex;
                align-items: center;
                flex-direction: column;

                svg {
                    stroke-linecap: round;
                    stroke-width: 8;
                    fill: none;
                }

                h3 {
                    color: var(--mainColor);
                }

                h4 {
                    color: var(--textColor);
                    margin-top: 10px;
                }


            }
        }

        #portfolio {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;

            h1 {
                color: white;
                margin-bottom: 100px;
            }

            .projects {
                display: grid;
                grid-gap: 100px;
                grid-template-columns: repeat(3, 1fr);

                a {
                    /*width: 200px;*/
                    height: 350px;
                    /*border: 1px solid white;*/
                    border-radius: 20px;
                    overflow: hidden;
                    box-shadow: 20px 20px 50px black;

                    img{
                        width: 300px;
                        height: 300px;
                        object-fit: contain;
                    }

                    h4{
                        margin: 10px;
                        color: var(--textColor);
                    }
                }
            }
        }
    }


    .hire-me {
        width: 100px;
        height: 35px;
        margin-right: 50px;
        background-color: var(--mainColor);
        border: none;
        color: white;
        border-radius: 5px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .title {
        color: white;
        text-align: center;
        margin-bottom: 20px;

    }

    .title-description {
        color: var(--textColor);
        text-align: center;
        font-size: 14px;
    }
}